@font-face {
    font-family: "TTLakesMedium";
    src:url("./Fonts/TTLakes/TTLakes-Medium.ttf");
}
@font-face {
    font-family: "TTLakesBold";
    src:url("./Fonts/TTLakes/TTLakes-Bold.ttf");
}
@font-face {
    font-family: "TT Lakes";
    src:url("./Fonts/TTLakes/TTLakes-Black.ttf");
}

html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;    
  }

  * {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: TTLakesMedium;
    font-size: 24px;
}

 /* <<<<<<<<<<<<<<<<<<<<<< HEADER BLOC >>>>>>>>>>>>>>*/


.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 88px;
    background-color: #FFFFFF;
    padding-left: 16px;
    padding-right: 16px;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border:none;
    outline: none;
    line-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:not(:last-child) {
    margin-right: 18px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.header__divider {
    background-image: url(./IMG/divider.svg);
    width: 2px;
    height: 32px;
    margin-right: 12px;
    margin-left: 12px;
}

.header__divider_hidden {
    margin-left: 0  ;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}

.header__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.button__divider {
    position: relative;
}


.button__divider::after {
    content: '';
    position: absolute;
    background-image: url(./IMG/divider.svg);
    width: 2px;
    height: 32px;
    left: -20px;

}




  /* <<<<<<<<<<<< MAIN BLOCK  >>>>>>>>>>>>>>>>>>>>*/

  .main {
    max-width: 1120px;
    height: 509px;
    background-color: #F8F8F8;    
}      



    /* <<<<<<<< main title >>>>>>>>>>>  */

.main__title {
    position: relative;
    min-width: 288px;
    height: 40px;
    margin-right: auto;
    padding-left: 16px;
    padding-top: 24px;
}

.main__title_font {
    font-family: TTLakesBold;
    font-size: 28px;
    line-height: 40px;    
    letter-spacing: -0.6px;    
    color: #1B1C21;
}

.main__title::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;  
}

 /*>>>>>>>>> main ahead 1140  <<<<<<<<*/
    
 .main__ahead{
     width: 1120px;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
}

/* >>>>>>>>>>> button ahead <<<<<<<<<<<*/

.main__button {
    display: flex;
    justify-content: space-between;
    height: 40px;
   margin-right: 14px;
}

.main__button_fonts {
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;
    padding-right: 14px;
  
}

/* <<<<<<< SLIDE MENU >>>>>>>>>>>>> */
.nav-scroller {
    max-width: 767px;
    overflow-x: hidden;
}

.scroller__items {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 24px;
    padding-left: 16px;   
}

.scroller__items_scrollbar {
    overflow-x: scroll;
  }

.scroller__items_scrollbar::-webkit-scrollbar {
    width: auto;
}

.scroller__item {
    height: 40px;
    display: flex;
    align-items: center;
    padding:0 22px;
    white-space: nowrap;
}

.scroller__item:hover {
    border-radius: 6px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
}

.scroller__item_fonts {
    color: #7E7E82;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

/* <<<<<<<<<<<< main content >>>>>>>>>> */


.main__content_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.main__content_text {
  width: auto;
  margin-bottom: 16px;
}

.content__fonts {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;    
    color: #1B1C21;
    margin-right: 0px;
}

/* <<<<<<<<<<<<<<READMORE button>>>>>>>>>> */

.content__readmore {
    position: relative;
    margin-top: 14px;
    display: flex;
    justify-content: center;    
    width: 162px;
    height: 24px;
}

.readmore__button_fonts {
    width: auto;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.readmore__button {
    /* position: absolute; */
    width: 8px;
    height: 24px;
    margin-right: 8px;
    margin-top:6px;
    background-color: #F8F8F8;;
    background-image: url(./IMG/arrow.svg);
    background-repeat: no-repeat;
    border:none;
    outline: none;
    line-height: 24px;
}

/*<<<<<<<<<  img  */

.main__img {
    background-image: url(./IMG/mainBg.png);
    background-repeat: no-repeat;
    width: 320px;
    height: 290px;
}

.main__img_position{
    margin: 0 auto;
}

.main__img_property {
    margin-right: 0;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position-y: top;
}

/*  >>>>>>>>>>>>>>>   media  */

@media screen and  (max-width:767px){
    .header__divider_hidden {
        display: none;
    }

    .header__divider{
        margin-left: 12px;
        margin-right: 12px;
    }

    .header__contacts {
        display: none;
    }

    .content__hidden_sm {
        display: none;
    }

    .main__ahead {
        display: none;
    }
}

/*    768 >>>>>>>>>>>>>>>> */

@media screen and (min-width:768px) and (max-width:1119px) {
    
    .header {
        padding-left: 24px;
        padding-right: 24px;
    }   

    .content__hidden_lm {
        display: none;
    }

    .main__ahead {
        display: none;
    }    

    .main {
        width: auto;
        padding-left: 8px;
    }

    .main__title::before {
        left: -8px;
    }

    .main__content {
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .main__content_text {
        width: 350px;
        height: 160px;
    }

      .main__img {
        background-image: url(./IMG/mainBg.png);
        background-repeat: no-repeat;
        border-radius:6px;  
        margin-right: 24px;  
    }
}

/* <<1140  >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media screen and (min-width:1120px) {
   

    .main {
        width: auto;
        height: 534px;
    }

    .main__title-hidden {
        display: none;
    }

    .main__title {
        padding-left: 32px;
    }

    .main__title::before {
        left: 0px;
    }

    .scroller__items {
        flex-wrap: wrap;
        margin-top: 7.62px;
        padding-left: 32px;
    }

    .main__content {
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    .main__content_wrap {
        margin-left: 32px;
    }

    .main__content_fonts {
        line-height: 20px;
        text-align: left;
    }

    .main__content_text {
        width:490px;
    }

    .main__img {
    background-image: url(./IMG/mainBg.jpg);
    background-repeat: no-repeat;
    width: 531px;
    height: 383px;
    }

    .header, .mian__menu-button_hidden--dt {
        display: none;
    }
}

